.ballContain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

}
.ind{
    width: 15rem;
}
// flex flex-row flex-wrap justify-center gap-10