.logo-container {
  width: 600px;
  height: 559px;
//   opacity: 0;
  // position: flex;
  text-align: center;
  margin: auto;

//   svg {
//     width: 100%;
//     height: auto;
//     bottom: 0;
//     transform: rotateZ(30deg) !important;
//   }

  .solid-logo {
    // position: absolute;
    margin: auto;
    margin-top: 1rem;
    // // width: 100%;
    // // opacity: 0;
    transform: rotateZ(30deg) !important;
  }
}

// .svg-container {
//   stroke: #ffd700;
//   stroke-width: 10;
// }
