.about {
  padding: 9rem 0;
  background-color: white;
  position: relative;
  height: 60vh;
  @media (max-width: 1020px) {
    height: 80vh;
    padding: 6rem 0;
  }
 
  .text-zone {
    h1 {
      color: Black;
      font-size: 30px;
      margin-bottom: 5rem;
      text-align: center;
    }
    p {
      color: Black;
      font-size: 17px;
      font-family: "Coolvetica";
    }
    // @media (max-width: 1020px) {
    //   max-width: 54rem;
    //   margin: 0 auto;
    // }
  
    // @media (max-width: 400px) {
    //   padding-right: 0;
    // }
  }
  .aboutPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 1020px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  .image {

    span{
      width:16.3rem;
    height: 16rem;
    bottom: 21rem;
    margin-left: 18rem;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    @media (max-width: 1020px) {
      margin-bottom: 200px;
    }
    }
    .sport{
      width: 50rem;
      height: 41rem;
      margin-right: 8rem;
      border-radius: 10%;
      
    }
    @media (max-width: 1020px) {
      margin-left: 60px;
    }
  }
  
    .soft-svg {
      width: 21rem;
      margin-left: -2.5rem;
      margin-top:-.8rem;
      animation: rotate 7s alternate infinite;

      @keyframes rotate {
        to {
          transform: rotate(360deg);
        }
      }
      
    }
    .avatar {
      position: absolute;

    bottom: 25rem;
    margin-left: 21.5rem;
    width: 9rem;
    // margin-top: 10px;
    // right: 98px;
  
    @media (max-width: 1020px) {
      margin-bottom: 200px;
    }
  
    // @media (max-width: 880px) {
    //   bottom: 57px;
    //   right: 156px;
    // }
  
    // @media (max-width: 750px) {
    //   display: none;
    // }
      }
  }

.text-zone {
  padding-right: 1.5rem;
  h1{
    color: black;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  }
  @media (max-width: 1020px) {
    max-width: 49rem;
    margin: 0 auto;
    

  }

  @media (max-width: 400px) {
    padding-right: 0;
  }
}
