.about{
  padding: 15rem 0;
  background-color: white;
  position: relative;
  height:60vh;
  
  .text-zone{
    h1 {
      color: Black;
      font-size: 30px;
      margin-bottom: 5rem;
    }
    p{
      color: Black;
      font-size: 15px;
      // margin: 0;
      font-family: 'Coolvetica';
      font-weight: 600;
    }
  }
.aboutPage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
  .image{
  
    .avatar{
      border-radius: 50%;
      width: 20rem;
      height: 20rem;
    }
  }

}
.text-zone {
  padding-right: 1.5rem;
  @media (max-width: 1020px) {
    max-width: 54rem;
    margin: 0 auto;
  }

  @media (max-width: 400px) {
    padding-right: 0;
  }

}