.contact{
  background-color: white;
  padding: 11rem 0;

  @media (max-width: 1020px) {
    padding: 8rem 0;
  }
    &-head{
        @media (max-width: 750px) {
            text-align: center;
          }
          h1{
            color: black;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            
          }
          p{
            font-size: 30px;
          }
    }
    &-sepIcon{
      display: flex;
    align-items: center;
    gap: 1.5rem;
      @media (max-width: 750px) {
        flex-direction: column;
      }
      .outerSpan{
        background-color: black;
        padding: 2rem;
        // box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
        border-radius: 20%;
      }
      .inner {
        background-color: gainsboro;
        padding: 2rem;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
        border-radius: 30%;
  
        .icon{
          font-size: 6rem;
          color: #33a18a;
        }
      }
    }
    &-clickIcon{
      display: flex;
    align-items: center;
    gap: 1.5rem;
      @media (max-width: 750px) {
        flex-direction: column;
      }
      .outerSpan{
        background-color: rgba(150, 143, 143, 0.692);
        padding: 2rem;
        // box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
        border-radius: 20%;
      }
      .inner {
        background-color: gainsboro;
        padding: 2rem;
        padding-top:5.7rem;
        border-radius: 30%;
        .hand{
          color: rgb(2, 68, 52);
          position: absolute;
          font-size: 4rem;
          margin-top: 3.5rem;
          margin-left: 3rem;
        }
        .icon{
          cursor: pointer;
          font-size: 6rem;
          color: #33a18a;
        }
      }
    }
    &-icons{
      display: flex;
      gap: 10rem;
      flex-wrap: wrap;
      margin-top: 4rem;
    }
}